/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.text-shpere {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #1e1e1e; */
  overflow-y: hidden;
}

.tagcloud {
  display: inline-block;
  top: 0;
  left: 0;
  /* font-family: 'Inter', sans-serif; */
  font-weight: 600;
  letter-spacing: 0.0625em;
  font-size: 1.3em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
  color: #00ffffff;
  text-transform: uppercase;
}

.tagcloud--item:hover {
  color: #ff6347;
}

/* Dark mode styles using a parent or body class */
.dark .tagcloud--item {
  color: #ffffff; /* Assuming you want white text in dark mode */
}

.dark .tagcloud--item:hover {
  color: green; /* You can adjust this hover color for dark mode if needed */
}
